---
targets:
- name: pe-primary
  uri: pe-primary.example.com
- name: mcp-node
  uri: mcp-node.example.com
config:
  transport: ssh
  ssh:
    native-ssh: true
    load-config: true
    login-shell: bash
    tty: false
    host-key-check: false
    run-as: root
    user: root
groups:
  - name: primary
    targets:
      - pe-primary
  - name: mcp
    targets:
      - mcp-node
